.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Global styles */
.primary-btn {
    font-size: 16px;
    font-family:"Raleway", sans-serif ;
    font-weight: 600;
    background-color: #4E47FF;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out;
    margin: 5px 0px;
}
.primary-btn a {
    color: white;
    text-decoration: none;
}
.primary-btn:hover {
    font-size: 16px;
    font-family:"Raleway", sans-serif ;
    font-weight: 600;
    background-color: #f2c60c;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    transform: scale(1.1);
}
.primary-btn:hover a{
    color: black;
    text-decoration: none;
}

body{
    background-color: #f5f8ff;
}

/* Header styles */
header{
    background-image: url(./Assets/Hero-bg.png);
    padding: 20px 150px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 235px;
}
.nav-title{
    font-size: 34px;
    font-family: "inter", sans-serif;
    color: #4E47FF;
    text-transform: uppercase;
    margin: 0px;
}
.hero-container{
    padding: 100px 0px;
    text-align: center;
}
.hero-container h1{
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.hero-container{
    padding: 100px 0px;
    text-align: center;
}

/* action section styles */
.action-section{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-section h1{
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #252432;
}
.action-section p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #252432;
    line-height: 30px;
}
.action-image img{
    border-radius: 48px;
    align-items: center;
}

/* productive user section styles */
.productive-section{
    background-color:rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 142px;
    text-align: center;
    margin: 50px 0px;
}
.productive-section h1{
    font-size: 38px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #252432;
}
.productive-items{
    display: flex;
    justify-content: space-around;
}
.productive-item h1{
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #4E47FF;
    margin: 5px 0px;
}
.productive-item p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 5px 0px;
}

/* review section styles */
.review-section{
    padding: 50px 0px;
    text-align: center;
}
.review-section h1{
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #252432;
}
.reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
}
.review{
    text-align: left;
    padding: 24px;
    border-radius: 14px;
    background-color: #fafcff;
    border: 1px solid rgba(242, 237, 237, 1);
}
.review h3{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin: 10px 0px;
}
.review p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin: 10px 0px;
    color: #474848;
}
.reviewer-details{
    margin-top: 5px;
    display: flex;
    gap: 15px;
}
.reviewer-details img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.reviewer-details{
    margin-top: 15px;
    display: flex;
}
.reviewer-details h4{
    font-size: 18px;
    margin: 4px 0px;
    color: #757575;
}
.reviewer-details h5{
    font-size: 16px;
    margin: 4px 0px;
    color: #cdcecf;
}

/* ready to focus bettar section styles */
.focus-section{
    background-color: #ffffff;
    border-radius: 14px;
    text-align: center;
    padding: 50px 70px;
    margin: 30px 0px;
}
.focus-section h1{
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #252432;
    margin: 20px 0px;
}
.focus-section p{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin: 15px 0px;
    color: #474848;
}
.focus-section img{
    margin-top: 20px;
    border-radius: 48px;
}

/* contact section styels */
.contact-section{
    margin: 100px 0px;
    display: flex;
    gap: 70px;
    align-items: center;
}
.contact-section h1{
    font-size: 97px;
    font-family: "Raleway", sans-serif;
    line-height: 120%;
    font-weight: 700;
    color: #252432;
    margin: 20px 0px;
    width: 100%;
}
.contact-section input[type="text"], input[type="email"], textarea{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #808080;
    padding: 20px 20px;
    width: 93%;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 1px solid #d6dded;
    border-radius: 10px;
}
.contact-section label{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: black;
    padding-bottom: 15px;
}

.contact-section input[type="button"] {
    font-size: 16px;
    font-family:"Raleway", sans-serif ;
    font-weight: 600;
    background-color: #4E47FF;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out;
    margin: 5px 0px;
    width: 100%;
}
.contact-section input[type="button"] a {
    color: white;
    text-decoration: none;
}
.contact-section input[type="button"]:hover {
    font-size: 16px;
    font-family:"Raleway", sans-serif ;
    font-weight: 600;
    background-color: #f2c60c;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    transform: scale(1.1);
    color: black;
}
.contact-section input[type="button"] a{
    color: black;
    text-decoration: none;
}

/* footer styles */
footer{
    background-color: #ffffff;
    padding: 30px 0px;
    text-align: center;
}
footer h1{
    font-size: 100px;
    font-family: "Inter", sans-serif;
    color:#4E47FF;
    margin: 10px 0px;
}
footer p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin: 15px 0px;
    color: #9f9eb2;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer li{
    list-style: none;
}
footer li a{
    list-style: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #9f9eb2;
    text-align: center;
    margin-right: 50px;
}





























